
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)

 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* general css */

*,*::before,*::after {
  box-sizing: border-box;
}
html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}
:root {
  --pri: #233b67;
  --sec: #62e993;
  --ter: #456fe6;
  --text-white: #fff;
  --btn-bg: blue;
}

body {
  line-height: 1.5;
  font-size: 1rem;
  color: var(--text-white);
}

a {
  text-decoration: none;
}
.padding {
  padding: 3rem 0;
} 

.capitalize {
  text-transform: capitalize;
}
.upper {
  text-transform: uppercase;
}
.text-center {
  text-align: center;
}

.width-full {
  width: 100%;
}

.font-0 {
  font-size: 0;
}

.btn {
  color: var(--text-white);
  font-weight: 600;
  background-color: var(--btn-bg);
  border-radius: .5rem;
}

.btn:hover {
  opacity: .4;
}
.btn-primary {
  margin: 1rem 0;
  padding: 1rem 0;
  border-radius: .5rem;
  display: block;
}

.btn-secondary {
  display: inline-block;
  padding: .75rem 2rem;
  outline: 0;
  border: 0;
  font-size: 1.2rem; 
  margin: 1rem 0;
  cursor: pointer;
}


/* Flex */


.flex {
  display: flex;
}
.jcc {
  justify-content: center;
}
.aic {
  align-items: center;
}
.flex-30 {
  flex: 0 1 28%;
}
.flex-70 {
  flex: 0 1 68%;
}

.justify-between {
  justify-content: space-between;
}

.column {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}
.flex-30 {
  flex: 0 1 30%;
}

.flex-65 {
  flex: 0 1 65%;
}

.flex-47{
  flex: 0 1 47%;
}
.flex-60 {
  flex: 0 1 60%
}

/* custome css */

/* Custom template styles */

.glass-temp {
  min-height: 100vh;

  background: linear-gradient(to top right, #233b67, #233b67);
  position: relative;
   padding: 4rem 0; 
}
.glass {
  background: white;
  /* background: linear-gradient(
    to top right,
    rgba(255, 255, 255, 0.692),
    rgba(255, 255, 255, 0.315)
  ); */
  background: linear-gradient(
    to top left,
    rgba(128, 128, 128, 0.623),
    rgba(128, 128, 128, 0.322)
  );
  min-height: 80vh;
  width: 70%;
  border-radius: 2rem;
  z-index: 3;
  backdrop-filter: blur(2rem);
  padding: 1rem;
}

.circle {
  position: absolute;

  height: 15rem;
  width: 15rem;
  border-radius: 50%;
  background: white;
  background: linear-gradient(
    to top right,
    rgba(255, 255, 255, 0.792),
    rgba(255, 255, 255, 0.315)
  );
}

.circle1 {
  top: 5%;
  right: 10%;
  background: linear-gradient(to top right, #4570e6, #4570e6);
}
.circle2 {
  height: 8rem;
  width: 8rem;
}
.circle3 {
  bottom: 5%;
  left: 10%;
  background: linear-gradient(to top right, #62e993, #62e993);
}

.dashboard {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
}


/* Dashboard */

.dashboard {
  padding: 1rem;
}
.user-img {
  margin-bottom: 1.2rem;
}
.user-img img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 50%;
}

.user-name {
  font-size: 1.5rem;
  font-weight: 700;
}
.dashboard h3 {
  font-weight: 500;
}
.main-menu  .sub-menu{
  margin: 1.5rem 0;
  padding: 1rem 0;
  border-radius: .5rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, .3);
  font-size: 1.2rem;
  font-weight: 500;
}

.sub-menu:hover {
  box-shadow:  0 0 8px rgba(0, 0, 0, .6);
}
.sub-menu a {
  color: var(--text-white);
}

/* Glass-main */


/* .glass-main {
  max-height: 100vh;
  overflow: auto;
} */
.glass-main h2 {
  font-size: 1.8rem;
  font-weight: 600;
  padding-left: 1.3rem;
  margin: 1rem 0;

}

.user-form {
  padding: 1.5rem;
}

.form-label {
  font-size: 1.1rem;
  margin: .5rem 0;
  font-weight: 500;
}
.form-control {
  width: 100%;
  display: block;
  padding: .75rem .75rem;
  outline: 0;
  border-radius: .5rem;
  border: 1px solid #aaa5a5;
  margin: .5rem 0;
  box-shadow: none;
  font-size: 1rem;
  background-color: none;
}

.form-control:focus {
  border: 1px solid blue;
}

.vaccine-type {
  background-color: var(--text-white);
}
/* input[type=date]:invalid::-webkit-datetime-edit {
  color: #fff;
} */

/* .glass-main::-webkit-scrollbar{
  background-color: darkgray;
} */

input[type="date"]::-webkit-calendar-picker-indicator {
  background-color: var(--text-white);
}