<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

=======
>>>>>>> 969407aa2a091d5541881fb64dff5702e4974308
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

<<<<<<< HEAD
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom Styles */

/* Variables */ 

:root {
    --primary: rgb(146,204,246);
    --secondary: #272727;
    --text-white: #fff;
}
*,*::before,*::after {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}
body {
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    background-color: rgb(172,205,248);
    color: var(--secondary);
}

/* Container */

.container {
    max-width: 1200px;
    width: 100%;
    padding: 2rem;
    margin: 0 auto;
    
}

/* General Styles */
a {
    text-decoration: none;
}
.padding {
    padding: 3rem 0;
} 

.capitalize {
    text-transform: capitalize;
}
.upper {
    text-transform: uppercase;
}
.text-center {
    text-align: center;
}

.width-full {
    width: 100%;
}

.font-0 {
    font-size: 0;
}

.btn {
    color: var(--text-white);
    font-weight: 500;
}

.btn:hover {
    opacity: .4;
}
.btn-primary {
    margin: 1rem 0;
    background-color: blue;
    padding: 1rem 0;
    border-radius: .5rem;
    display: block;
}

.btn-secondary {
    display: inline-block;
    padding: .75rem 2rem;
    outline: 0;
    border-radius: .5rem;
    background-color: blue;
    border: 0;
    font-size: 1.2rem;
    
    margin: 1rem 0;
    cursor: pointer;
}
/* Flex */

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.item-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.column {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}
.flex-30 {
    flex: 0 1 30%;
}

.flex-65 {
    flex: 0 1 65%;
}

.flex-47{
    flex: 0 1 47%;
}
.flex-60 {
    flex: 0 1 60%;
}
/* Aside-section */

.section-left {
    background-color: var(--primary);
    padding: 1.3rem;
    border-radius: .8rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}

.user-img {
    margin-bottom: 1.2rem;
}
.user-img img {
    width: 13rem;
    height: 13rem;
    object-fit: cover;
    border-radius: .5rem;
}

.user-name {
    font-size: 2rem;
    font-weight: 700;
}
.section-left h3 {
    font-weight: 500;
}
.sub-menu  li{
    margin: 1.5rem 0;
    /* background-color: yellow; */
    padding: 1rem 0;
    border-radius: .5rem;
    box-shadow: 0 0 10px rgba(23, 126, 199, 0.3);
    font-size: 1.2rem;
    font-weight: 500;
}

.sub-menu li:hover {
    box-shadow:  0 0 10px rgba(23, 126, 199, 0.8);;
}
.sub-menu li a {
    color: #272727;
}

/* Section (Right)*/

.section-right {
    align-self: stretch;
    background-color: var(--primary);
    padding: 1.3rem;
    border-radius: .8rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}

.section-right h2 {
    font-size: 1.8rem;
    font-weight: 600;
    padding-left: 1.3rem;
    margin: 1rem 0;

}

.user-form {
    padding: 1.5rem;
    /* box-shadow: 0 0 10px rgba(23, 126, 199, 0.3) */
}

.form-label {
    font-size: 1.3rem;
    margin: .5rem 0;
}
.form-control {
    width: 100%;
    display: block;
    padding: .75rem .75rem;
    outline: 0;
    border-radius: .5rem;
    border: 1px solid #aaa5a5;
    margin: .5rem 0;
    box-shadow: none;
    font-size: 1rem;
    background-color: var(--text-white);
}

.form-control:focus {
    border: 1px solid blue;
}
=======
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* general css */
html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
:root {
  --pri: #233b67;
  --sec: #62e993;
  --ter: #456fe6;
}
.flex {
  display: flex;
}
.jcc {
  justify-content: center;
}
.aic {
  align-items: center;
}
.flex-30 {
  flex: 0 1 28%;
}
.flex-70 {
  flex: 0 1 68%;
}
/* custome css */

.glass-temp {
  min-height: 100vh;

  background: linear-gradient(to top right, #233b67, #233b67);
  position: relative;
}
.glass {
  background: white;
  /* background: linear-gradient(
    to top right,
    rgba(255, 255, 255, 0.692),
    rgba(255, 255, 255, 0.315)
  ); */
  background: linear-gradient(
    to top left,
    rgba(128, 128, 128, 0.623),
    rgba(128, 128, 128, 0.322)
  );
  min-height: 80vh;
  width: 70%;
  border-radius: 2rem;
  z-index: 3;
  backdrop-filter: blur(2rem);
  padding: 1rem;
}

.circle {
  position: absolute;

  height: 15rem;
  width: 15rem;
  border-radius: 50%;
  background: white;
  background: linear-gradient(
    to top right,
    rgba(255, 255, 255, 0.792),
    rgba(255, 255, 255, 0.315)
  );
}

.circle1 {
  top: 5%;
  right: 10%;
  background: linear-gradient(to top right, #4570e6, #4570e6);
}
.circle2 {
  height: 8rem;
  width: 8rem;
}
.circle3 {
  bottom: 5%;
  left: 10%;
  background: linear-gradient(to top right, #62e993, #62e993);
}

.dashboard {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
}
>>>>>>> 969407aa2a091d5541881fb64dff5702e4974308
